@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  font-family: "Roboto", sans-serif;
  overflow: hidden !important;
}

/* recorrido */

#container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimapa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: auto;
  border: 2px solid white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}
.minimapa.oculto{
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}
#toggle-minimap{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(4, 214, 32, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 768px) {
  #toggle-minimap{
    display: none;
  }
}

@media (max-width: 767px) {
  .minimapa{
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 999;
  }
  .minimapa.movil-activo{
    display: block;
  }
}

.minimapa img {
  width: 100%;
  height: auto;
  display: block;
}
.punto {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  background: rgb(25, 10, 240);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, background 0.3s;
  z-index: 10;
}
.punto:hover {
  transform: translate(-50%, -50%) scale(1.3);
  background: rgb(1, 131, 124);
}

.punto.activo {
  background: lime; 
  transform: translate(-50%, -50%) scale(1.4);
  opacity: 1;
}

#radar {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 30px solid rgba(255, 0, 0, 0.5);
  transform-origin: 50% 100%; 
  pointer-events: none;
  display: none;
}

